.map__image {
  width: 100%;
}

.map-str.str {
  fill: #E7544A;
}

.card-maps {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start; 
  margin-top: 20px;
}

.map__image polygon {
  fill: gray;
  stroke: #fff;
  stroke-width: 3px;
  transition: fill 0.3s;
}

.map__image polygon:hover {
  fill: #E7544A;
}

.map__list {
  width: 35%;
  float: right;
}

.highlighted {
  color: #E7544A;
}