nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  padding: 0 20px;
  color: #fff;
  height: 80px;
  /* From https://css.glass */
  background: rgba(17, 17, 17, 0.6);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(17, 17, 17, 0.3);
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  color: #1a83ff;
}

.nav-active {
  color: #fff;
  background-color: #1a83ff;
  border-radius: 5px;
  padding: 8px;
}

.nav-active:hover {
  color: #fff;
}